div{
    float: left;
}

@mixin countainer ($color) {  width:100px;
    height:100px;
    background-color:$color ;
    margin:15px;
}
.first{
    @include countainer(red)
  
   

}
.second {
    @include countainer(blue)
    
}
.third{
    @include countainer(yellow)
}
.box{
    width:100px;
    height:100px;
    background-color:red ;
    margin:15px;
    border-radius: 10px*3;
}
.a1{
   @extend .box
}
.a2{@extend .box
}